@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");

* {
  font-family: "Vazirmatn", sans-serif;
}

.App {
  background: url("./assets/wallpaper.jpg") center/cover no-repeat;
  height: 100vh;
}
